/*background color*/
body {
    font-family: "Lato", sans-serif;
    background-color: #ed7577;
}

/*created grey box around login info*/
.optionOne {
    background-color: #e6e3e3;
    color: gray;
    height: 250px;
    width: 400px;
    position: fixed;
    box-shadow: 1px 1px 10px #888888;
    margin: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

input {
    padding: 12px 150px 12px 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: none;
}

/*allows for changing the input placeholder text color*/
input::placeholder {
    color: #cccccc;
}

/*changing the size and position*/
.userName {
    position: relative;
    width: 300px;
    margin-bottom: 15px;
    display: block;
    left: 50px;
}

.passWord {
    position: relative;
    width: 300px;
    margin-bottom: 15px;
    display: block;
    left: 50px;
}

/*changing button aspects first size and color .login is for position*/
button {
    background-color: #7dd9d5;
    position: relative;
    text-align: center;
    color: white;
    padding: 12px;
    border: none;
    width: 90px;
}

.login {
    position: absolute;
    top: 75%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*changing wording next to check box .check is changing position*/
span {
    display: inline;
    font-size: 60%;
    margin-left: -5px;
}

.check {
    position: absolute;
    display: inline-block;
    padding-top: 10%;
    padding-left: 50px;
}